django==4.2.20
gunicorn
whitenoise==6.6.0

# Core utilities
python-decouple==3.8
asgiref==3.8.1
sqlparse==0.5.1
tzdata==2025.1

# Data & Excel
pandas==2.2.3
openpyxl==3.1.5

# Images & PDF
Pillow>=10.4.0
reportlab==4.0.9

# API & CORS
djangorestframework==3.15.1
django-cors-headers==4.3.1

# Date & time
python-dateutil==2.8.2
pytz==2024.1

# Extra
requests==2.31.0
django-humanize